{% extends "main.html" %}

{% block cont %}
<form class="main-form" action="/sys_change/?ref={{ referal }}" method="get">
    <h3>Обменять BTC в RUB</h3>

    <div class="input-group mb-3">
        <input type="text" name="name" class="form-control" placeholder="Имя" required>
    </div>

    <div class="input-group mb-3">
        <input type="email" name="mail" class="form-control" placeholder="Ваш Email" required>
    </div>

    <h5>Вы хотите перевести</h5>

    <div class="input-group mb-3">
        <input type="number" step="0.001" name="count" class="form-control" placeholder="Сумма в BTC" required>
        <label><b>Вам будет переведено: <span class="ee1">0</span>₽ (с вычетом комиссии <span class="ee2">0</span>₽)</b></label>
        <label>* Необходимо для отслеживания перевода, переводите точно указанную сумму.</label>
    </div>

    <h5>Перевод на</h5>

    <div class="input-group mb-3">
        <input type="text" class="form-control" name="card" id="cc-number" placeholder="Номер банковской карты" required="" pattern="[0-9]{16}">
        <div class="invalid-feedback">
          Номер кредитной карты должен содержать 16 цифр
        </div>
        <label>* Переводы осуществляются на Сбербанк, Тинькофф, Альфа-банк, ВТБ-24.</label>
    </div>

    <div class="input-group mb-3">
        <input type="text" name="referal" class="form-control" placeholder="Реферальный № (можно не заполнять)">
    </div>

    <button type="submit" class="btn btn-success" id="change">Обменять</button>
    <div class="btn btn-success" onclick="testing()">Тестировать</div>
</form>

<div id="testing"></div>


<script src="/static/check.js"></script>
<script>
    // Получать актуальный курс

    var course = 252032;

    const Http = new XMLHttpRequest();
    const url = 'https://blockchain.info/ru/ticker';
    Http.open("GET", url);
    Http.send();
    Http.onreadystatechange=(e)=>{
        var res = Http.responseText;
        if (res) {
            course = JSON.parse(res).RUB.last * 1.07;
            $('.main-form').attr('action', '/sys_change/?ref={{ referal }}&cur=' + course);
            $('input[name="count"]').attr('placeholder', 'Сумма в BTC (курс ' + Math.round(course) + ' ₽/Ƀ)');
        }
    }

    // Рассчёт перевода

    $('input[name="count"]').on('input keyup', function(el) {
        var count = $(this).val();
        count = count.replace(',', '.');
        count *= course;

        var com = Math.round(20 + count * 0.01);
        
        if (count >= com) {
            count -= 20;
        } else {
            com = 0;
        }

        count = Math.round(count, 0);

        $('.ee1').html(count);
        $('.ee2').html(com);
    });

    // Проверка правильности номера кредитной карты

        function check_card() {
            var card = $('input[name="card"]').val();
            if (check(card)) {
                $('#change').css('display', 'inline-block');
            } else {
                $('#change').css('display', 'none');
            }
        }

        $('input[name="card"]').on('input', check_card)

//     (function() {
//   'use strict';
//   window.addEventListener('load', function() {
//     // Fetch all the forms we want to apply custom Bootstrap validation styles to
//     var forms = document.getElementsByClassName('needs-validation');
//     // Loop over them and prevent submission
//     var validation = Array.prototype.filter.call(forms, function(form) {
//       form.addEventListener('submit', function(event) {
//         if (form.checkValidity() === false) {
//           event.preventDefault();
//           event.stopPropagation();
//         }
//         form.classList.add('was-validated');
//       }, false);
//     });
//   }, false);
// })();

    function test(value) {
        $('input[name="name"]').val('Test');
        $('input[name="mail"]').val('qwe@rty.uio');
        $('input[name="count"]').val('1');

        $('input[name="card"]').val(value);

        // $('#change').trigger('click');
        check_card();

        // var form = $('form')[0];
        // return form.checkValidity();
        return !($('#change').css('display') == 'none');
    }

    function testing() {
        var test1 = test('12345');
        var test2 = test('1234123412341234');
        var test3 = test('123412341234123h');

        if (test1 == false && test2 == true && test3 == false) {
            $('#testing').html('<h4><span class="badge badge-success">OK</span></h4><br>');
        } else {
            $('#testing').html('<h4><span class="badge badge-danger">Error</span></h4><br>');
        }
    }
</script>
{% endblock %}