{% extends "eng.html" %}

{% block cont %}
<style>
    span {
        background-color: #f0f0f0;
        border: 1px solid #c0c0c0;
        border-radius: 12px;
        padding: 5px;
        word-wrap: break-word;
    }
</style>

<div style="padding: 50px 0 50px 0; line-height: 30px; font-size: 17px;">Send specified amount of BTC to <span>1FfxypvKjTwWH1ckuuKFZPoQWSzDngzrBr</span> within half an hour, later session will be closed.
<br>
Transactions are carried out only to bank cards.

</div>

{% endblock %}