{% extends "main.html" %}

{% block cont %}
    <div class="container">
        <div class="row">
        <div class="col-sm-8">
            <div class="container justify-content-center ebat1">
                <form class="main-form">
                        <h4>Обменять BTC в RUB</h4>

                        <div class="input-group mb-3">
                            <input type="text" name="name" class="form-control" placeholder="Имя">
                        </div>
                    
                        <div class="input-group mb-3">
                            <input type="mail" name="mail" class="form-control" placeholder="Ваш Email">
                        </div>

                        <h4>Вы хотите перевести</h4>

                        <div class="input-group mb-3">
                            <input type="text" name="count" class="form-control" placeholder="Сумма в BTC">
                            <label><b>Вам будет переведено: <span class="ebatsya">0</span>₽ (с вычетом комиссии <span class="ebis">0</span>₽)</b></label>
                            <label>* Необходимо для отслеживания перевода, переводите точно указанную сумму.</label>
                        </div>

                        <div class="input-group mb-3">
                            <input type="text" name="card" class="form-control" placeholder="Номер банковской карты">
                        </div>

                        <button type="button" class="btn btn-warning">Обменять</button>
                    </form>      
            </div>
            <div class="container justify-content-center ebat1" style="margin-top: 25px;">
                <form class="main-form">
                        <h4>Новости</h4>
                        <hr>
                        <p>Наконец после долгого перерыва мы вернулись и снова работаем!</p>
                        <label>29.11.2018</label>
                        <hr>
                        <p>Всю информацию про криптовалюты и состояние рынка Вы можете посмотреть на <a href="https://coinmarketcap.com">coinmarketcap.com</a></p>
                        <label>04.09.2018</label>
                    </form>      
            </div>
            </div>
        <div class="col-sm-4">
            <div class="container justify-content-center ebat2" style="padding: 20px;">
                <h4>Отзывы</h4>
                <div class="card" style="width: 18rem; ">
                    <div class="card-body">
                      <h5 class="card-title">Отзыв №26</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Александр</h6>
                      <p class="card-text">Заебись обменник</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem; ">
                    <div class="card-body">
                      <h5 class="card-title">Отзыв №51</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Андрей</h6>
                      <p class="card-text">Обменяли быстро, всё пришло нормально</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem; ">
                    <div class="card-body">
                      <h5 class="card-title">Отзыв №29</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Имран</h6>
                      <p class="card-text">Нашёл этот обменник, так как тут была самая низкая коммисия. Обменял, перевели не так уж быстро, всё заняло часа два.</p>
                    </div>
                  </div>
            </div>
            <div class="container justify-content-center ebat2" style="padding: 20px; margin-top: 25px;">
                <h4>Техническая поддержка</h4>
                <div class="input-group mb-3">
                    <input type="mail" name="mail" class="form-control" placeholder="Ваш Email">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Ваше сообщение" rows="3"></textarea>
                  </div>
                  <button type="button" class="btn btn-info">Отправить</button>
                 
            </div>
        </div>
        
        </div>
    </div>
    

    <footer class="section footer-classic context-light" style="margin-top: 45px;">
        <div class="container">
            <div class="row row-30">
                <div class="col-md-4 col-xl-5">
                    <div class="pr-xl-4">
                        <p>Обменный пункт электронных валют</p>
                        <p>Все права защищены © 2018</p>
                        <p></p>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Время работы</h5>
                    <dl class="contact-list">
                        <dt>Будние дни</dt>
                        <dd>Пн. — Пт. с 10:00 до 02:00.</dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>Выходные</dt>
                        <dd>Сб. — Вск. Круглосуточно.</dd>
                    </dl>
                </div>
                <div class="col-md-4 col-xl-3">
                    <h5>Ссылки</h5>
                    <ul class="nav-list">
                        <li><a href="#">Правила сайта</a></li>
                        <li><a href="#">Партнёры</a></li>
                        <li><a href="#">Жалобы и предложения</a></li>
                        <li><a href="#">Отзывы</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script>
        var course = 238000;

        const Http = new XMLHttpRequest();
        const url = 'https://blockchain.info/ru/ticker';
        Http.open("GET", url);
        Http.send();
        Http.onreadystatechange=(e)=>{
            var res = Http.responseText;
            if (res) {
                course = JSON.parse(res).RUB.last;
            }
        }

        $('input[name="count"]').on('input keyup', function(el) {
            var count = $(this).val();
            count = count.replace(',', '.');
            count *= course;

            var com = Math.round(20 + count * 0.01);
            
            if (count >= com) {
                count -= 20;
            } else {
                com = 0;
            }

            count = Math.round(count, 0);

            $('.ebatsya').html(count);
            $('.ebis').html(com);
        });
    </script>
{% endblock %}