{% extends "main.html" %}

{% block cont %}
<form class="main-form" action="/sys_change/" method="post">
    <h3>Обменять BTC в RUB</h3>

    <div class="input-group mb-3">
        <input type="text" name="name" class="form-control" placeholder="Имя">
    </div>

    <div class="input-group mb-3">
        <input type="email" name="mail" class="form-control" placeholder="Ваш Email">
    </div>

    <h5>Вы хотите перевести</h5>

    <div class="input-group mb-3">
        <input type="number" step="0.001" name="count" class="form-control" placeholder="Сумма в BTC">
        <label><b>Вам будет переведено: <span class="ebatsya">0</span>₽ (с вычетом комиссии <span class="ebis">0</span>₽)</b></label>
        <label>* Необходимо для отслеживания перевода, переводите точно указанную сумму.</label>
    </div>

    <h5>Перевод на</h5>

    <div class="input-group mb-3">
        <input type="text" class="form-control" name="card" id="cc-number" placeholder="Номер банковской карты" required="" pattern="[0-9]{16}">
        <div class="invalid-feedback">
          Номер кредитной карты должен содержать 16 цифр
        </div>
        <label>* Переводы осуществляются на Сбербанк, Тинькофф, Альфа-банк, ВТБ-24.</label>
    </div>

    <button type="submit" class="btn btn-warning">Обменять</button>
</form>


<script>
    // Получать актуальный курс

    var course = 238000;

    const Http = new XMLHttpRequest();
    const url = 'https://blockchain.info/ru/ticker';
    Http.open("GET", url);
    Http.send();
    Http.onreadystatechange=(e)=>{
        var res = Http.responseText;
        if (res) {
            course = JSON.parse(res).RUB.last;
        }
    }

    // Рассчёт перевода

    $('input[name="count"]').on('input keyup', function(el) {
        var count = $(this).val();
        count = count.replace(',', '.');
        count *= course;

        var com = Math.round(20 + count * 0.01);
        
        if (count >= com) {
            count -= 20;
        } else {
            com = 0;
        }

        count = Math.round(count, 0);

        $('.ebatsya').html(count);
        $('.ebis').html(com);
    });

    // Проверка правильности номера кредитной карты

    (function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock %}